@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

:root {
    --bg-color: #5ecc4f;
}
*{  
    font-family: 'Londrina Solid', sans-serif ;
}
.navbar{
    background-color: var(--bg-color);
}
body{
    background-color: var(--bg-color);
}

.app-root{
    height: 30%;
    width: 30%;
}