@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


:root {
    --bg-color:  rgb(52, 58, 64);
    --font-color: white;
}
*{  
    font-family: 'Londrina Solid', sans-serif ;
    color: var(--font-color);
}

body{
    background-color: var(--bg-color);
}

.app-root{
    height: 30%;
    width: 30%;
    padding-top: 5%;
}

